<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Tiny App</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
<% include partials/_header %>


    <p><%= "Long URL: " + longURL %></p>
    <p><%= "Shortened URL: " + shortURL %></p>

    <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
      <div class="form-group mb-2">
        <input class="form-control" type="text" value="<%= longURL %>" name="longURL" style="width: 300px; margin: 1em">
        <input type="submit" Value="Update"></input>
      </div>
    </form>

  <a href='http://localhost:8080/urls/new'>Shorten a new URL</a>

</body>
</html>